.task {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    margin-bottom: 13px;
    padding: 0 10px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: 400;
    & svg {
        cursor: pointer;
    }

    & .content {
        display: flex;
        align-items: center;
        width: 100%;

        & .toggleTaskCompletedState {
            margin: 20px;
        }

        & .toggleTaskIcon {
            margin: 10px;
        }

        & span {
            margin: 10px;
        }

        & div {
            width: 100%;
            display: flex;
            flex-direction: column;

            & div {
                width: 100%;
                border-color: transparent;
                padding: 10px;

                &:not([disabled]) {
                    border-color: #e9ebee;
                }
            }
            & span {
                height: 20px;
                color: red;
                font-size: 15px;
                margin: 0;
            }
        }
    }

    @media (width <= 740px) {
        flex-direction: column-reverse;
        padding: 10px 5px;
        height: auto;

        & .content {
            width: 95%;
        }

    }
}

.completed {
    background-color: #b0e2ad;
    color: #616770;

    & .content {
        & input[type='text'] {
            background-color: #282828;
        }
    }
}

.runTimer {
    color: red;
}


