.task {
    background-color: #f5ff5c;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    margin-bottom: 13px;
    padding: 0 10px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: 400;
    & svg {
        cursor: pointer;
    }

    & .content {
        display: flex;
        align-items: center;
        width: 100%;

        & .toggleTaskIcon {
            margin: 0;
        }

        & span {
            margin: 10px;
        }
    }

    @media (width <= 740px) {
        flex-direction: column-reverse;
        padding: 10px 5px;
        height: auto;

        & .content {
            width: 95%;
        }
    }
}

.completed {
    background-color: #b0e2ad;
    color: #616770;

    & .content {
        & input[type='text'] {
            background-color: #282828;
        }
    }
}

.runTimer {
    color: red;
}

.buttonPlase {
    padding: 12px;
}


.taskMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
