.invalidInput {
    .transition2:hover {
        transition: 3s;
    }

    &:hover {
        box-shadow: inset 0 0 3px 2px #f40009;
    }

    &:focus {
        box-shadow: inset 0 0 3px 1px #f40009;
    }
}

.hintError {
    height: 20px;
    color: red;
    font-size: 15px;
    margin: 0 0 10px;
}

